<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描service包-->
    <context:component-scan base-package="com.fenfei.ssh.service"/>

    <!--读取properties配置文件-->
    <bean id="placeholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations"
                  value="classpath:configs/application.properties, classpath:configs/*/*.properties"/>
    </bean>

    <!--使用session实现国际化-->
    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="cn"/>
    </bean>

    <!--使用SessionThemeResolver-->
    <bean id="themeResolver"
          class="org.springframework.web.servlet.theme.SessionThemeResolver">
        <property name="defaultThemeName" value="theme_red"/>
    </bean>

</beans>